 for (int x = 0; x < invade.getArrayList().size(); x ++){
 
System.out.printf("%-15s%-12s%10d%13d", invade.getArrayList().get(x).getLastName(),  invade.getArrayList().get(x).getFirstName(), invade.getArrayList().get(x).getFighterKills(), invade.getArrayList().get(x).getMotherKills()); // YOU FOUND ME:D     
 System.out.println("");

                                }
